@import 'variables';

html {
   	
}
html, body {
	height: 100%;
    margin:0;
    padding:0;
}
body {
	background: #FFF;	
	font-family: 'Orbitron', sans-serif;
	
	color: #333333;
}

.search {
	padding-top: 40px;
	input {
		border: solid 1px #000;
	}
	
	.btn-primary {
		background: #0000ff;
		border: none;
		text-transform: UPPERCASE;
		&:hover {
			background: #29abe2;
		}
	}
}
.city {
	padding: 40px 0;
	border-bottom: solid 1px #ccc;
}

.container {
	height: 100%;
}
.ten-columns > .col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.input-group .form-control {
	border-radius: 0;
}

.input-group-btn:not(:first-child)>.btn {
	border-radius: 0;
}

@media (max-width: 768px) { 
	.ten-columns > .col {
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 100%;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}
}